<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.geon.myshop.mapper.MenuAttachMapper">

	<insert id="insert">
	<![CDATA[
		insert into tbl_menu_attach (uuid, uploadpath, filename, mno)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{mno})
	]]>
	</insert>
	
	<delete id="delete">
	<![CDATA[
		delete from tbl_menu_attach where uuid = #{uuid}
	]]>
	</delete>
	
	<select id="findByBano" resultType="org.geon.myshop.dto.MenuDTO">
	<![CDATA[
		select * from tbl_menu_attach where mno = #{mno}
	]]>
	</select>
	
</mapper>
