<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.geon.userboard.mapper.UserBoardAttachMapper">

	<insert id="insert">
	<![CDATA[
		insert into tbl_board_user_attach (uuid, uploadpath, filename, checkimage, buno)
		values (#{uuid}, #{uploadPath}, #{fileName}, #{image}, #{buno})
	]]>
	</insert>
	
	<delete id="delete">
	<![CDATA[
		delete from  tbl_board_user_attach where uuid = #{uuid}
	]]>
	</delete>
	
	<select id="findBybuno" resultType="org.geon.userboard.domain.UserBoardVO">
	<![CDATA[
		select * from  tbl_board_user_attach where buno = #{buno}
	]]>
	</select>
	
</mapper>
